@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:500,600,700,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:regular,700,700italic&display=swap");

@font-face {
   font-family: "Avenir";
   src:
      url("../fonts/Avenir-Light.woff2") format(woff2),
      url("../fonts/Avenir-Light.woff") format(woff);
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
